# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables locales
*.local
.env
.env.*

# VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Coverage
coverage/

# Archivos temporales
*.tmp
*.temp